<!-- Main content -->
<div class="content mt-5">
    <div class="container-fluid">
        <div class="card p-4 bg-lightblue">
            <div class="card-title text-center text-white">
                <%= username %>
            </div>
            <div class="card-body">
                <h1 class="text-center text-white">DashBoard <%= role %>
                </h1>
            </div>
        </div>
    </div>
</div><!-- /.container-fluid -->
<!-- /.content -->