<!-- Main content -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<style>
    .card-body {
        width: 100%;
        margin-top: 10px;
    }

    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .card-img-top {
        background-color: #ddd;
        color: #000;
        text-align: center;
        padding: 20px;
    }
</style>
<div class="content">
    <div class="container-fluid">
        <div class="card p-4">
            <div class="card-title text-center">
                Admin
            </div>
            <div class="card-body">
                <h1 class="text-center">DashBoard Mahasiswa</h1>
            </div>
        </div>
    </div>
</div><!-- /.container-fluid -->
<!-- /.content -->
<!-- Pengumuman -->

<div class="container mt-4">
    <div class="row">
        <!-- Menambah Dokumen Pengajuan Beasiswa -->
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-img-top">Gambar Grafis 1</div>
                <div class="card-body">
                    <h5 class="card-title">Tambah Dokumen Pengajuan Beasiswa</h5>
                    <p class="card-text">Menambah dokumen pengajuan beasiswa baru.</p>
                    <button type="button" class="btn btn-primary" onclick="redirectToDokpengajuan()">Tambah</button>
                </div>
            </div>
        </div>

        <!-- Melihat Data Pengajuan Beasiswa -->
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-img-top">Gambar Grafis 2</div>
                <div class="card-body">
                    <h5 class="card-title">Lihat Data Pengajuan Beasiswa</h5>
                    <p class="card-text">Melihat data pengajuan beasiswa yang sudah ada.</p>
                    <button type="button" class="btn btn-primary">Lihat</button>
                </div>
            </div>
        </div>

        <!-- Mengupdate Daftar Pengajuan Beasiswa -->
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-img-top"></div>
                <div class="card-body">
                    <h5 class="card-title">Update Pengajuan Beasiswa</h5>
                    <p class="card-text">Mengupdate daftar pengajuan beasiswa yang ada.</p>
                    <button type="button" class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>

        <!-- Menghapus Dokumen Pengajuan Beasiswa -->
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-img-top">Gambar Grafis 4</div>
                <div class="card-body">
                    <h5 class="card-title">Hapus Dokumen Pengajuan Beasiswa</h5>
                    <p class="card-text">Menghapus dokumen pengajuan beasiswa yang sudah ada.</p>
                    <button type="button" class="btn btn-primary">Hapus</button>
                </div>
            </div>
        </div>

        <!-- Pembatasan Pengajuan Beasiswa -->
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-img-top">Gambar Grafis 5</div>
                <div class="card-body">
                    <h5 class="card-title">Pembatasan Pengajuan Beasiswa</h5>
                    <p class="card-text">Pengajuan beasiswa hanya 1x per semester.</p>
                    <button type="button" class="btn btn-primary">Pembatasan</button>
                </div>
            </div>
        </div>

        <!-- Validasi Data -->
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-img-top">Gambar Grafis 6</div>
                <div class="card-body">
                    <h5 class="card-title">Validasi Data</h5>
                    <p class="card-text">Validasi data IPK terakhir, transkrip akademik, surat rekomendasi
                        dosen.</p>
                    <button type="button" class="btn btn-primary">Validasi</button>
                </div>
            </div>
        </div>

        <!-- Verifikasi Status Keaktifan Mahasiswa -->
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-img-top">Gambar Grafis 7</div>
                <div class="card-body">
                    <h5 class="card-title">Verifikasi Status Keaktifan</h5>
                    <p class="card-text">Verifikasi status keaktifan mahasiswa sebelum mengizinkan pengajuan.</p>
                    <button type="button" class="btn btn-primary">Verifikasi</button>
                </div>
            </div>
        </div>

        <!-- Tetapkan Periode Pengajuan -->
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-img-top">Gambar Grafis 8</div>
                <div class="card-body">
                    <h5 class="card-title">Tetapkan Periode Pengajuan</h5>
                    <p class="card-text">Tetapkan periode tertentu dimana pengajuan beasiswa</p>
                    <button type="button" class="btn btn-primary">Verifikasi</button>
                </div>
            </div>
        </div>

        <script>
            function redirectToDokpengajuan() {
                window.location.href = "mahasiswa/dokpengajuan"; // Redirect ke halaman dokpengajuan.ejs
            }
        </script>