<!-- Nabilla -->
<% if (!beasiswa.start_date || !beasiswa.end_date) { %>
   <div class="content">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-12">
               <div class="alert alert-warning" role="alert">
                  Maaf, belum ada pendaftaran beasiswa yang dibuka.
               </div>
            </div>
         </div>
      </div>
   </div>
   <% } else { %>
      <div class="card-body">
         <h1 class="text-center">Tambah Dokumen Pengajuan Beasiswa</h1>
         <form id="beasiswaForm" action="/mahasiswa/dokpengajuan" method="post" enctype="multipart/form-data">
            <div class="form-group">
               <label for="jenis_beasiswa">Jenis Beasiswa:</label>
               <select class="form-control" id="jenis_beasiswa" name="jenis_beasiswa" required>
                  <option value="">Pilih Jenis Beasiswa</option>
                  <% beasiswas.forEach(beasiswa=> { %>
                     <option value="<%= beasiswa.id %>">
                        <%= beasiswa.namaBeasiswa %>
                     </option>
                     <% }); %>
               </select>
            </div>
            <div id="deskripsi_beasiswa">

            </div>
            <div id="syarat_dokumen">

            </div>
            <div class="form-group">
               <button type="submit" class="btn btn-primary">Submit</button>
            </div>
         </form>
      </div>
      </div>
      </div>
      </div>
      <% } %>
         <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
         <script>
            $(document).ready(function () {
               $('#jenis_beasiswa').on('change', function () {
                  var selectedBeasiswaId = $(this).val();
                  var selectedBeasiswa = beasiswas.find(beasiswa => beasiswa.id === selectedBeasiswaId);
                  if (selectedBeasiswa) {
                     $('#deskripsi_beasiswa').html('<p>' + selectedBeasiswa.deskripsi + '</p>');

                     var syaratDokumen = selectedBeasiswa.syaratDokumen; // Misalnya, asumsikan syarat dokumen adalah array
                     if (syaratDokumen && syaratDokumen.length > 0) {
                        var html = '';
                        syaratDokumen.forEach(syarat => {
                           html += '<div class="form-group">';
                           html += '<label for="' + syarat.id + '">' + syarat.nama + '</label>';
                           html += '<input type="file" class="form-control-file" id="' + syarat.id + '" name="' + syarat.id + '" required>';
                           html += '</div>';
                        });
                        $('#syarat_dokumen').html(html);
                     } else {
                        $('#syarat_dokumen').html('');
                     }
                  } else {
                     $('#deskripsi_beasiswa').html('');
                     $('#syarat_dokumen').html('');
                  }
               });
            });
         </script>