<!-- Nabilla -->
<div class="content-header">
   <div class="container-fluid">
      <div class="row mb-2">
         <div class="col-sm-6">
            <h1 class="m-0">Tambah Users Form</h1>
         </div>
         <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
               <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
               <li class="breadcrumb-item"><a href="/users">Users</a></li>
               <li class="breadcrumb-item active">Edit Users Form</li>
            </ol>
         </div>
      </div>
   </div>
</div>

<div class="content">
   <div class="container-fluid">
      <% if (typeof message !=='undefined' ) { %>
         <div id="alertMessage" class="alert alert-danger">
            <%= message %>
         </div>
         <% } %>
            <div class="card p-4">
               <form method="post" action="/mahasiswa/daftarBeasiswa/ajukanBeasiswa/<%= beasiswa.id %>"
                  enctype="multipart/form-data">
                  <div class="card-body">
                     <div class="form-group">
                        <label for="ipk">IPK</label>
                        <input type="text" class="form-control" id="ipk" placeholder="3.75" name="ipk" required
                           autofocus maxlength="4">
                     </div>
                     <div class="form-group">
                        <label for="transkripAkademik">Transkrip Akademik</label>
                        <input type="file" class="form-control-file" id="transkripAkademik" name="transkripAkademik"
                           required accept=".pdf">
                     </div>
                     <div class="form-group">
                        <label for="suratRekomendasiDosen">Surat Rekomendasi Dosen</label>
                        <input type="file" class="form-control-file" id="suratRekomendasiDosen"
                           name="suratRekomendasiDosen" required accept=".pdf">
                     </div>
                     <div class="form-group">
                        <label for="suratPernyataanBeasiswa">Surat Pernyataan Beasiswa</label>
                        <input type="file" class="form-control-file" id="suratPernyataanBeasiswa"
                           name="suratPernyataanBeasiswa" required accept=".pdf">
                     </div>
                     <div class="form-group">
                        <label for="suratPelengkap">Surat Pelengkap</label>
                        <input type="file" class="form-control-file" id="suratPelengkap" name="suratPelengkap" required
                           accept=".pdf">
                     </div>
                  </div>
                  <div>
                     <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
               </form>
            </div>
   </div>
</div>

<script>
   var alertElement = document.querySelector('.alert');

   setTimeout(function () {
      alertElement.style.display = 'none';
   }, 2000);
</script>
<!-- Nabilla -->