<!-- Nathan -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Tambah Fakultas Form</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="/beasiswa">Beasiswa</a></li>
                    <li class="breadcrumb-item active">Tambah Beasiswa Form</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <% if (typeof message !=='undefined' ) { %>
            <div id="alertMessage" class="alert alert-danger">
                <%= message %>
            </div>
            <% } %>
                <div class="card p-4">
                    <form method="post" action="/beasiswa/edit/<%= Beasiswa.id %>">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="namaBeasiswa">Nama Beasiswa</label>
                                <input type="text" class="form-control" id="namaBeasiswa" placeholder="Bantuan Ekonomi"
                                    autofocus required maxlength="30" value="<%= Beasiswa.namaBeasiswa %>"
                                    name="namaBeasiswa">
                            </div>
                            <div class="form-group">
                                <label for="syarat">Syarat</label>
                                <textarea class="form-control" id="syarat" placeholder="..." name="syarat"
                                    required><%= Beasiswa.syarat %></textarea>
                            </div>
                            <div class="form-group">
                                <label for="jenisBeasiswa">Jenis Beasiswa</label>
                                <select class="form-control" id="jenisBeasiswa" name="jenisBeasiswa" required>
                                    <option <% if (Beasiswa.jenisBeasiswa==='Internal' ) { %> selected <% } %>>Internal
                                    </option>
                                </select>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary">Tambah Beasiswa</button>
                            </div>
                    </form>
                </div>
    </div>
</div>
</div>

<script>
    var alertElement = document.querySelector('.alert');
    setTimeout(function () {
        alertElement.style.display = 'none';
    }, 2000);
</script>
<!-- Nathan -->