<div class="content">
   <div class="container-fluid">
      <div class="card p-4">
         <div class="card-title text-center">
            Admin
         </div>
         <div class="card-body">
            <h1 class="text-center">Pengaturan Pengajuan Beasiswa</h1>
         </div>
      </div>
   </div>
</div>

<!-- Main content -->
<section class="content">
   <div class="container-fluid">
      <div class="card card-primary">
         <div class="card-header">
            <h3 class="card-title">Pengaturan Pengajuan Beasiswa</h3>
         </div>
         <!-- /.card-header -->
         <!-- form start -->
         <form action="/admin/pengaturan_pengajuan" method="post">
            <div class="card-body">
               <div class="form-group">
                  <label for="batas_waktu">Batas Waktu Pengajuan Beasiswa</label>
                  <input type="datetime-local" class="form-control" id="batas_waktu" name="batas_waktu" required>
               </div>
               <div class="form-group">
                  <label for="kuota_beasiswa">Kuota Beasiswa</label>
                  <input type="number" class="form-control" id="kuota_beasiswa" name="kuota_beasiswa"
                     placeholder="Masukkan Kuota Beasiswa" required>
               </div>
               <div class="form-group">
                  <label for="deskripsi">Deskripsi Pengajuan</label>
                  <textarea class="form-control" id="deskripsi" name="deskripsi" rows="4"
                     placeholder="Masukkan Deskripsi Pengajuan" required></textarea>
               </div>
               <div class="form-group">
                  <label for="dokumen_persyaratan">Dokumen Persyaratan</label>
                  <input type="file" class="form-control-file" id="dokumen_persyaratan" name="dokumen_persyaratan"
                     required>
               </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
               <button type="submit" class="btn btn-primary">Simpan</button>
            </div>
         </form>
      </div>
      <!-- /.card -->
   </div><!-- /.container-fluid -->
</section>
<!-- /.content -->