<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="card p-4">
            <div class="card-title text-center">
                Admin
            </div>
            <div class="card-body">
                <h1 class="text-center">DashBoard Admin</h1>
            </div>
        </div>
    </div>
</div><!-- /.container-fluid -->
<!-- /.content -->